@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  min-width: 320px;
  font-size: 1.6em;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*!
 * fullPage 2.9.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

#fullpage-wrap {
  width: 100%; }

.btn-wrap {
  width: 68px;
  height: 68px;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 68px; }
  .btn-wrap .nav-btn {
    background-image: url(../img/menu.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    z-index: 10; }

#nav-container {
  display: none;
  background-color: #363333;
  position: relative;
  top: 68px;
  z-index: 9;
  font-family: "arial", serif; }

#gnav ul li {
  height: 56px; }
  #gnav ul li a {
    display: block;
    text-align: center;
    color: #fdfdfd;
    text-decoration: none;
    font-size: 2rem;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #909090; }
  #gnav ul li:hover {
    background-color: #747474; }

#gnav li a.current {
  background-color: #747474; }

.nav-btn.close {
  background: url(../img/cancel.svg) no-repeat right top;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none; }

.fp-controlArrow.fp-prev {
  background: url(../img/left.svg) no-repeat left;
  left: 5px;
  top: 55%;
  width: 30px;
  height: 30px;
  border-color: transparent #000 transparent transparent; }

.fp-controlArrow.fp-next {
  background: url(../img/right.svg) no-repeat right;
  right: 10px;
  width: 30px;
  height: 30px;
  top: 55%;
  border-color: transparent transparent transparent #000; }

#contact-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 0;
  list-style-type: none; }
  #contact-area ul li {
    width: 48px;
    height: 48px;
    text-indent: -9999px; }
    #contact-area ul li a {
      display: block;
      text-decoration: none;
      line-height: 48px; }
  #contact-area ul .mail-btn {
    background: url(../img/mail_btn.svg) no-repeat;
    background-size: 48px 48px;
    margin-right: 8px; }
  #contact-area ul .mail-btn:hover {
    background-image: url(../img/mail_btn02.svg);
    background-size: 48px 48px; }
  #contact-area ul .twi-btn {
    background: url(../img/twi_btn.svg) no-repeat;
    background-size: 48px 48px;
    margin-left: 8px; }
  #contact-area ul .twi-btn:hover {
    background-image: url(../img/twi_btn02.svg);
    background-size: 48px 48px; }

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none; }
  #nav-container {
    display: block !important;
    top: 0;
    background-color: transparent; }
    #nav-container #inner {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin: 0 20px;
      height: 80px; }
  #gnav {
    margin: auto 0; }
    #gnav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      font-size: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 4px;
      list-style: none;
      text-align: center; }
      #gnav ul li {
        margin-right: 32px;
        display: inline-block; }
        #gnav ul li a {
          text-decoration: none;
          border-bottom: none;
          color: #fff;
          padding-bottom: 3px;
          display: block; }
      #gnav ul li:hover {
        background-color: transparent; }
  #gnav li a:after {
    content: '';
    width: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom: 3px solid #fff;
    display: block; }
  #gnav li a:hover:after {
    width: 100%;
    border-bottom: 3px solid #fff; }
  .fp-controlArrow.fp-prev {
    left: 10px;
    top: 55%;
    width: 50px;
    height: 50px; }
  .fp-controlArrow.fp-next {
    right: 10px;
    width: 50px;
    height: 50px;
    top: 55%;
    border-color: transparent transparent transparent #000; }
  #contact-area ul .mail-btn {
    background: url(../img/mail_btn_pc.svg) no-repeat;
    background-size: 48px 48px;
    margin-right: 8px; }
  #contact-area ul .mail-btn:hover {
    background-image: url(../img/mail_btn.svg);
    background-size: 48px 48px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  #contact-area ul .twi-btn {
    background: url(../img/twi_btn_pc.svg) no-repeat;
    background-size: 48px 48px;
    margin-left: 8px; }
  #contact-area ul .twi-btn:hover {
    background-image: url(../img/twi_btn.svg);
    background-size: 48px 48px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; } }

#footer {
  width: 100%;
  height: 40px;
  background-color: #000;
  position: fixed;
  bottom: 0;
  z-index: 11; }
  #footer p {
    font-family: "arial", serif;
    color: #fff;
    text-align: center;
    line-height: 40px; }

#header {
  width: 100%;
  position: fixed;
  background-color: #000;
  height: 68px;
  z-index: 8; }

#mail-form {
  position: absolute;
  display: none;
  bottom: 0;
  color: #000;
  z-index: 100;
  width: 100%;
  background: url(../img/form_bg.jpg) repeat center;
  background-size: 200px 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px -1px 5px 3px rgba(0, 0, 0, 0.31);
  box-shadow: 0px -1px 5px 3px rgba(0, 0, 0, 0.31);
  height: 350px;
  border-radius: 30px 30px 0 0; }
  #mail-form #form-area {
    font-family: "メイリオ", "Meiryo", Sans-Serif, "arial", serif;
    font-weight: bold;
    margin: 20px 10px 0;
    width: calc(300/100%);
    display: block;
    text-align: center;
    padding-bottom: 20px; }
    #mail-form #form-area .form-title {
      margin-bottom: 20px;
      font-size: 2.0rem;
      font-weight: bold; }
    #mail-form #form-area p {
      line-height: 1.6; }
    #mail-form #form-area .btn-area {
      margin-top: 20px; }
      #mail-form #form-area .btn-area input#submit-btn,
      #mail-form #form-area .btn-area #reset-btn {
        font-family: "メイリオ", "Meiryo", Sans-Serif;
        font-weight: bold;
        width: 100px;
        height: 30px;
        border-radius: 5px; }
    #mail-form #form-area #comment {
      vertical-align: middle; }
      #mail-form #form-area #comment textarea {
        overflow: auto; }

@media screen and (min-width: 768px) {
  #header {
    background-color: transparent;
    float: left;
    height: 80px;
    background-color: rgba(3, 5, 59, 0.65); }
  #head-wrap {
    margin: 0 auto;
    max-width: 1170px; }
  #mail-form {
    right: 0;
    width: 40%;
    height: 350px;
    border-radius: 20px 0 0 0; } }

.top-wrap {
  background-image: url(../img/left_kumo.png), url(../img/right_kumo.png), url(../img/sp_bg.png);
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 230px 173px, 280px 186px, 320px 500px;
  background-position: left top 68px, right 0px bottom 40px, center center;
  font-family: "メイリオ", "Meiryo", Sans-Serif, "arial", serif; }
  .top-wrap .top-logo .logo-img {
    height: 500px;
    margin: 0 auto;
    background: url(../img/sp_top_logo.png) no-repeat center center;
    background-size: calc(500/996*100%);
    text-indent: -9999px; }
  .top-wrap .top-logo .top-ico {
    display: none; }
  .top-wrap .top-logo .top-same {
    display: none; }

@media screen and (min-width: 768px) {
  .top-wrap {
    background-image: url(../img/kumo_bottom.png), url(../img/left_kumo.png), url(../img/right_kumo.png), url(../img/sp_bg.png);
    background-size: calc(1770/2196*100%), calc(355/1365*100%), calc(370/1196*100%), 320px 500px;
    background-position: left bottom 10px, left top, right 0px bottom 40px, center center;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat; }
    .top-wrap .top-logo {
      max-width: 375px;
      margin: 0 auto;
      z-index: 20;
      background-image: url(../img/top_logo.png);
      background-size: 375px 288px;
      background-repeat: no-repeat;
      height: 100%;
      background-position: center center;
      position: relative; }
      .top-wrap .top-logo .top-ico {
        display: block;
        position: absolute;
        top: 43%;
        right: 95px; }
      .top-wrap .top-logo .logo-img {
        display: none;
        position: absolute;
        bottom: -100px;
        left: -200px;
        max-width: 206px;
        float: left; }
      .top-wrap .top-logo .top-same {
        display: block;
        position: relative; }
        .top-wrap .top-logo .top-same .same-box {
          position: absolute;
          bottom: 0px;
          left: -500px;
          max-width: 206px;
          -webkit-transform-origin: center 150%;
          -ms-transform-origin: center 150%;
          transform-origin: center 150%;
          -webkit-animation: rotate1 8s linear infinite;
          animation: rotate1 8s linear infinite; }
  @-webkit-keyframes rotate1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg); } }
  @keyframes rotate1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg); } }
  .fuwafuwa {
    -webkit-animation: fuwafuwa 2s infinite linear alternate;
    animation: fuwafuwa 2s infinite linear alternate; }
  @-webkit-keyframes fuwafuwa {
    0% {
      -webkit-transform: translate(0, 0) rotate(0deg); }
    50% {
      -webkit-transform: translate(0, -5px) rotate(0deg); } }
  @keyframes fuwafuwa {
    0% {
      -webkit-transform: translate(0, 0) rotate(0deg); }
    50% {
      -webkit-transform: translate(0, -5px) rotate(0deg); } } }

.about-wrap {
  height: 100%;
  width: 100%;
  background-image: url(../img/about_bg.png);
  background-size: 10px 10px;
  padding: 108px 0 80px;
  font-family: "メイリオ", "Meiryo", Sans-Serif, "arial", serif; }
  .about-wrap .item-box {
    width: calc(280/320*100%);
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 4px; }
    .about-wrap .item-box .title-container .sec-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 10px; }
      .about-wrap .item-box .title-container .sec-title h2 {
        width: 280px;
        display: block;
        text-align: center;
        margin: 20px 0 0;
        padding-bottom: 8px;
        font-size: 2.4rem;
        font-weight: normal;
        border-bottom: 2px dotted #000; }
        .about-wrap .item-box .title-container .sec-title h2 span {
          font-size: 3.2rem; }
    .about-wrap .item-box .title-container .sub-title {
      padding-bottom: 40px; }
      .about-wrap .item-box .title-container .sub-title p {
        display: block;
        text-align: center;
        margin: 12px 0;
        font-size: 1.8rem; }
    .about-wrap .item-box .about-same {
      display: none; }
    .about-wrap .item-box .about-container .about-img {
      width: calc(254/762*100%);
      margin: 0 auto;
      padding-bottom: 40px; }
    .about-wrap .item-box .about-container .about-txt {
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .about-wrap .item-box .about-container .about-txt p {
        padding: 0 10px 20px;
        line-height: 1.6; }
      .about-wrap .item-box .about-container .about-txt .a-name {
        line-height: 1.6; }
        .about-wrap .item-box .about-container .about-txt .a-name span {
          font-size: 2.0rem; }
      .about-wrap .item-box .about-container .about-txt .a-txt01 span,
      .about-wrap .item-box .about-container .about-txt .a-txt02 span {
        font-size: 1.8rem;
        line-height: 1.8; }

@media screen and (min-width: 768px) {
  .about-wrap {
    background-image: url(../img/about_kumo.png), url(../img/about_bg_top.png), url(../img/bg_line.png), -webkit-gradient(linear, left top, right top, color-stop(50%, #dc89c0), color-stop(50%, #c7de6a));
    background-image: url(../img/about_kumo.png), url(../img/about_bg_top.png), url(../img/bg_line.png), -webkit-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
    background-image: url(../img/about_kumo.png), url(../img/about_bg_top.png), url(../img/bg_line.png), -o-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
    background-image: url(../img/about_kumo.png), url(../img/about_bg_top.png), url(../img/bg_line.png), linear-gradient(90deg, #dc89c0 50%, #c7de6a 50%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 100%, 100% 50%, cover;
    background-position: left top, center center, bottom bottom, bottom bottom;
    padding: 0;
    height: 100%; }
    .about-wrap .item-box {
      width: calc(1170/100%);
      max-width: 1170px;
      background-color: transparent;
      position: relative; }
      .about-wrap .item-box .title-container .sec-title h2 {
        margin: 120px 0 0;
        font-size: 3.6rem; }
        .about-wrap .item-box .title-container .sec-title h2 span {
          font-size: 4.6rem; }
      .about-wrap .item-box .title-container .sub-title {
        padding-bottom: 45px; }
        .about-wrap .item-box .title-container .sub-title p {
          display: block;
          text-align: center;
          margin: 12px 0;
          font-size: 1.8rem; }
      .about-wrap .item-box .about-same {
        z-index: 10;
        max-width: 190px;
        display: inline-block;
        position: absolute;
        top: 190px;
        left: 0px;
        -webkit-animation: horizontal 1s ease-in-out infinite alternate;
        animation: horizontal 1s ease-in-out infinite alternate;
        -webkit-animation-duration: .9s;
        animation-duration: .9s; }
      .about-wrap .item-box .about-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 20px; }
        .about-wrap .item-box .about-container .about-img {
          width: calc(400/742*100%);
          max-width: 224px;
          padding-bottom: 0;
          margin: 60px 40px; }
        .about-wrap .item-box .about-container .about-txt {
          max-width: 380px;
          margin: 0 40px 0 40px;
          text-align: left; }
          .about-wrap .item-box .about-container .about-txt p {
            font-size: 1.6rem;
            padding: 0 10px 12px;
            line-height: 1.6; }
          .about-wrap .item-box .about-container .about-txt .a-name {
            line-height: 1.6; }
            .about-wrap .item-box .about-container .about-txt .a-name span {
              font-size: 2.0rem;
              font-weight: normal; }
          .about-wrap .item-box .about-container .about-txt .a-txt01 span,
          .about-wrap .item-box .about-container .about-txt .a-txt02 span {
            font-size: 1.8rem;
            line-height: 1.6; }
  @-webkit-keyframes horizontal {
    0% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
      -webkit-transform: translateY(30px);
      transform: translateY(30px); }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); } }
  @keyframes horizontal {
    0% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
      -webkit-transform: translateY(30px);
      transform: translateY(30px); }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); } }
  @-webkit-keyframes vertical {
    0% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px); } }
  @keyframes vertical {
    0% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px); } } }

.work-wrap {
  height: 100%;
  width: 100%;
  background: url(../img/bg_line.png), -webkit-gradient(linear, left top, right top, color-stop(50%, #dc89c0), color-stop(50%, #c7de6a));
  background: url(../img/bg_line.png), -webkit-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
  background: url(../img/bg_line.png), -o-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
  background: url(../img/bg_line.png), linear-gradient(90deg, #dc89c0 50%, #c7de6a 50%);
  background-size: cover;
  padding: 108px 0 80px;
  font-family: "メイリオ", "Meiryo", Sans-Serif, "arial", serif; }
  .work-wrap .work-same {
    display: none; }
  .work-wrap .item-box {
    position: relative;
    width: calc(280/320*100%);
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 4px; }
    .work-wrap .item-box .title-container {
      margin: 0 10px; }
      .work-wrap .item-box .title-container .sec-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .work-wrap .item-box .title-container .sec-title h2 {
          width: 280px;
          display: block;
          text-align: center;
          margin: 20px 0 0;
          padding-bottom: 8px;
          padding: 0 10px 8px;
          font-size: 2.4rem;
          font-weight: normal;
          border-bottom: 2px dotted #000; }
          .work-wrap .item-box .title-container .sec-title h2 span {
            font-size: 3.2rem; }
    .work-wrap .item-box .sub-title {
      padding-bottom: 40px; }
      .work-wrap .item-box .sub-title p {
        display: block;
        text-align: center;
        margin: 12px 0;
        font-size: 1.8rem; }
    .work-wrap .item-box .work-container {
      width: 100%;
      padding: 0 10px 40px; }
      .work-wrap .item-box .work-container .work-title {
        width: 180px;
        font-size: 2rem;
        font-family: "arial", serif;
        border-bottom: 3px double #000;
        margin: 0 auto;
        text-align: center; }
        .work-wrap .item-box .work-container .work-title p {
          padding-bottom: 12px;
          font-weight: normal; }
      .work-wrap .item-box .work-container .work-left {
        margin-bottom: 40px; }
        .work-wrap .item-box .work-container .work-left .work-box01 {
          margin: 40px auto 0px;
          max-width: 280px;
          padding-bottom: 0; }
          .work-wrap .item-box .work-container .work-left .work-box01 ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            .work-wrap .item-box .work-container .work-left .work-box01 ul li {
              margin-right: 10px;
              list-style-type: none; }
            .work-wrap .item-box .work-container .work-left .work-box01 ul li:last-child {
              margin-right: 0; }
          .work-wrap .item-box .work-container .work-left .work-box01 .box01-top,
          .work-wrap .item-box .work-container .work-left .work-box01 .box01-bottom {
            padding-bottom: 10px; }
        .work-wrap .item-box .work-container .work-left .work-01-txt {
          max-width: 280px;
          margin: 40px auto 0;
          font-family: "メイリオ", "Meiryo", Sans-Serif;
          font-size: 1.6rem;
          line-height: 1.6;
          padding: 0 10px; }
      .work-wrap .item-box .work-container .work-right {
        padding-top: 20px; }
        .work-wrap .item-box .work-container .work-right .work-box02 {
          margin: 40px auto;
          max-width: 280px;
          padding-bottom: 0px; }
          .work-wrap .item-box .work-container .work-right .work-box02 ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            .work-wrap .item-box .work-container .work-right .work-box02 ul li {
              margin-right: 20px;
              list-style-type: none; }
            .work-wrap .item-box .work-container .work-right .work-box02 ul li:last-child {
              margin-right: 0; }
          .work-wrap .item-box .work-container .work-right .work-box02 .box01-top,
          .work-wrap .item-box .work-container .work-right .work-box02 .box01-bottom {
            padding-bottom: 20px; }
        .work-wrap .item-box .work-container .work-right .work-02-txt {
          max-width: 280px;
          margin: 40px auto 0;
          font-family: "メイリオ", "Meiryo", Sans-Serif;
          font-size: 1.6rem;
          line-height: 1.6;
          padding: 0 10px; }

#bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 19, 31, 0.5); }

#photo {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  width: calc(300/320*100%);
  max-width: 400px;
  height: auto; }

@media screen and (min-width: 768px) {
  .work-wrap {
    height: 100%;
    background: url(../img/work_kumo.png) no-repeat top, url(../img/bg_line.png), -webkit-gradient(linear, left top, right top, color-stop(50%, #dc89c0), color-stop(50%, #c7de6a));
    background: url(../img/work_kumo.png) no-repeat top, url(../img/bg_line.png), -webkit-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
    background: url(../img/work_kumo.png) no-repeat top, url(../img/bg_line.png), -o-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
    background: url(../img/work_kumo.png) no-repeat top, url(../img/bg_line.png), linear-gradient(90deg, #dc89c0 50%, #c7de6a 50%);
    background-size: 1170px, cover, cover;
    background-repeat: no-repeat, no-repeat;
    padding: 0;
    position: relative; }
    .work-wrap .work-same {
      display: inline-block;
      position: absolute;
      top: 50px;
      right: 100px;
      width: 200px;
      height: 200px; }
      .work-wrap .work-same .same-box-w {
        max-width: 160px;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transform-origin: center 30%;
        -ms-transform-origin: center 30%;
        transform-origin: center 30%;
        -webkit-animation: rotate2 5s linear infinite;
        animation: rotate2 5s linear infinite; }
    .work-wrap .item-box {
      width: calc(1170/100%);
      max-width: 1170px;
      background-color: transparent;
      border-radius: 0;
      position: relative; }
      .work-wrap .item-box .title-container {
        margin: 0 10px; }
        .work-wrap .item-box .title-container .sec-title h2 {
          margin: 120px 0 0;
          font-size: 3.6rem; }
          .work-wrap .item-box .title-container .sec-title h2 span {
            font-size: 4.6rem; }
      .work-wrap .item-box .sub-title {
        padding-bottom: 45px; }
        .work-wrap .item-box .sub-title p {
          display: block;
          text-align: center;
          margin: 12px 0;
          font-size: 1.8rem; }
  @-webkit-keyframes rotate2 {
    0% {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg); }
    30% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg); }
    100% {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg); } }
  @keyframes rotate2 {
    0% {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg); }
    30% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg); }
    100% {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg); } }
      .work-wrap .item-box .work-container {
        margin: 30px auto 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .work-wrap .item-box .work-container .work-title {
          width: 200px;
          font-size: 2.4rem;
          padding-top: 20px; }
        .work-wrap .item-box .work-container .work-left {
          width: 50%;
          margin: 0 20px 0 0;
          background-color: #fdfdfd;
          padding-bottom: 20px;
          border-radius: 10px; }
          .work-wrap .item-box .work-container .work-left .work-01-txt {
            margin-top: 10px; }
        .work-wrap .item-box .work-container .work-right {
          width: 50%;
          margin-left: 20px;
          background-color: #fdfdfd;
          padding: 0 0 20px 0;
          border-radius: 10px; }
          .work-wrap .item-box .work-container .work-right .work-box02 {
            margin: 70px auto 60px; }
          .work-wrap .item-box .work-container .work-right .work-02-txt {
            margin-top: 0;
            padding: 10px 10px 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.skill-wrap {
  width: 100%;
  background: url(../img/bg_line.png), -webkit-gradient(linear, left top, right top, color-stop(50%, #dc89c0), color-stop(50%, #c7de6a));
  background: url(../img/bg_line.png), -webkit-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
  background: url(../img/bg_line.png), -o-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
  background: url(../img/bg_line.png), linear-gradient(90deg, #dc89c0 50%, #c7de6a 50%);
  background-size: cover;
  padding: 108px 0 80px;
  font-family: "メイリオ", "Meiryo", Sans-Serif, "arial", serif; }
  .skill-wrap .item-box {
    position: relative;
    width: calc(280/320*100%);
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 4px; }
    .skill-wrap .item-box .title-container {
      margin: 0 10px; }
      .skill-wrap .item-box .title-container .sec-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .skill-wrap .item-box .title-container .sec-title h2 {
          width: 280px;
          display: block;
          text-align: center;
          margin: 20px 0 0;
          padding-bottom: 8px;
          padding: 0 10px 8px;
          font-size: 2.4rem;
          font-weight: normal;
          border-bottom: 2px dotted #000;
          font-family: "arial", serif; }
          .skill-wrap .item-box .title-container .sec-title h2 span {
            font-size: 3.2rem; }
    .skill-wrap .item-box .sub-title {
      padding-bottom: 40px; }
      .skill-wrap .item-box .sub-title p {
        display: block;
        text-align: center;
        margin: 12px 0;
        font-size: 1.8rem;
        font-family: "メイリオ", "Meiryo", Sans-Serif; }

@media screen and (max-width: 768px) {
  .skill-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .skill-container .skill-box {
      width: 100%;
      padding: 0 40px 40px; }
      .skill-container .skill-box .skill-img {
        margin: 0 auto;
        width: 160px; }
      .skill-container .skill-box .skill-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        padding: 18px 0;
        font-family: "arial", serif; }
      .skill-container .skill-box .skill-txt {
        max-width: 280px;
        font-size: 1.4rem;
        line-height: 1.6;
        margin: 0 auto;
        font-family: "メイリオ", "Meiryo", Sans-Serif; }
        .skill-container .skill-box .skill-txt span {
          font-size: 1.6rem;
          display: block;
          text-align: center; } }

@media screen and (min-width: 769px) {
  .skill-wrap {
    height: 100%;
    background: url(../img/skill_bg.png) no-repeat center 100px, url(../img/bg_line.png), -webkit-gradient(linear, left top, right top, color-stop(50%, #dc89c0), color-stop(50%, #c7de6a));
    background: url(../img/skill_bg.png) no-repeat center 100px, url(../img/bg_line.png), -webkit-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
    background: url(../img/skill_bg.png) no-repeat center 100px, url(../img/bg_line.png), -o-linear-gradient(left, #dc89c0 50%, #c7de6a 50%);
    background: url(../img/skill_bg.png) no-repeat center 100px, url(../img/bg_line.png), linear-gradient(90deg, #dc89c0 50%, #c7de6a 50%);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    padding: 0; }
    .skill-wrap .item-box {
      width: calc(1170/100%);
      max-width: 1170px;
      background-color: transparent;
      border-radius: 0; }
      .skill-wrap .item-box .title-container {
        margin: 0 10px; }
        .skill-wrap .item-box .title-container .sec-title h2 {
          margin: 120px 0 0;
          font-size: 3.6rem; }
          .skill-wrap .item-box .title-container .sec-title h2 span {
            font-size: 4.6rem; }
      .skill-wrap .item-box .sub-title {
        padding-bottom: 45px; }
        .skill-wrap .item-box .sub-title p {
          display: block;
          text-align: center;
          margin: 12px 0;
          font-size: 1.8rem; }
  .skill-container {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 40px; }
    .skill-container .skill-box {
      max-width: 240px;
      margin: 0 30px 0;
      padding-bottom: 30px; }
      .skill-container .skill-box .skill-img {
        margin: 0px auto 32px;
        max-width: 200px; }
        .skill-container .skill-box .skill-img img {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
      .skill-container .skill-box .skill-img img:hover {
        -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg); }
      .skill-container .skill-box .skill-title {
        font-size: 2.0rem;
        font-weight: bold;
        text-align: center;
        padding: 12px 0;
        font-family: "arial", serif; }
      .skill-container .skill-box .skill-txt {
        margin: 0 auto;
        width: 100%;
        line-height: 1.4;
        font-family: "メイリオ", "Meiryo", Sans-Serif; }
        .skill-container .skill-box .skill-txt span {
          display: block;
          text-align: center; } }
